<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mt-1">
    <div class="container-fluid">
      <!-- Home Link -->
      <a class="navbar-brand mb-0 h1" routerLink="">Home</a>

      <!-- Search Bar -->
      <form class="d-flex ms-auto me-2" role="search" (submit)="onSearch()">
        <input 
          class="form-control me-2" 
          type="search" 
          placeholder="Search listings..." 
          aria-label="Search" 
          [(ngModel)]="searchTerm"
          name="search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>     
      <!-- My Account Button -->
      <button
  class="btn btn-outline-primary"
  [routerLink]="user() ? '/account' : '/login'"
>
  {{ user() ? 'My Account' : 'Log In' }}
</button>


    </div>
  </nav>

  <hr class="my-1" />
  <hr class="my-1" />

  <p>
    <router-outlet></router-outlet>
  </p>
</div>
