.card {
  min-height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
